<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	
  <nav class=" white darken-2" role="navigation">
    <div class="nav-wrapper container">
     

      <ul class="right hide-on-med-and-down">
        <li><a href="/" class="grey-text active">Beranda</a></li>
        <li><a href="/login" class="grey-text">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/home" class="grey-text active">Beranda</a></li>
        <li><a href="/login" class="grey-text">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>
	<section id="banner">
		<div class="container">
			<img  src="images/fasilkom.png" width="120"/>
			<h3>APLIKASI SEKRETARIAT</h3>
			<h4 class="amber-text accent-4">FAKULTAS ILMU KOMPUTER UI</h4>
			<img class="responsive-img"  src="images/divider.jpg" /><br/><br/>
			<a class="waves-effect waves-light btn amber accent-4" href="/login">Login</a>
		</div>
	</section>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>