<!DOCTYPE html>
<html>
<head>
	<title>Aplikasi Sekretariat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<header th:replace="fragments/fragment :: header"></header>	
	<div th:if = "${param.error}" >
		Invalid username and password.
	</div>
	<div th:if = "${param.logout}" >
		You have been logged out.
	</div>
	<!--Jumbotron Section-->
	<section id="jumbotron">
		<div class="container">
			<h1>APLIKASI SEKRETARIAT <br/>ADMINISTRASI UNIVERSITAS</h1>
			<hr/>
			<div class="row">
				<div class="col-4">
					<form  th:action = "@{/login}" method = "post" >
						<div class="form-group">
							<input class="form-control" type="text" name="username" placeholder="Username"/>	
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" placeholder="Password"/>							
						</div>
						<div class="form-group">
							<input type="submit" name="submit" class="btn btn-primary"/>						
						</div>
					</form>		

				</div>
				<div class="col-8">	</div>
			</div>
		</div>

	</section>

	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>