<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add student</title>
<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous"></link>
<script type="text/javascript"
	src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>


<link rel="stylesheet" href="css/bootstrap.min.css" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1 class="page-header">Add Produk</h1>

	<form action="/product/add/submit" method="get">
		<div class="col-sm-10">
			<label class="col-sm-1" for="nama">Nama Produk</label> <input type="text" name="nama" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="deskripsi">Deskripsi Produk</label> <input type="text"
				name="deskripsi" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="kategori">Kategori Produk</label> <input type="text"
				name="kategori" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="pabrikan">Pabrikan</label> <input type="text"
				name="pabrikan" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="berat">Berat</label> <input type="text" name="berat" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm"src/main/resources/templates/login.html"-1" for="harga">Harga</label> <input type="number" name="harga" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="tahunProduksi">Tahun Produksi</label> <input
				type="number" name="tahunProduksi" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="jumlahStok">Jumlah Stok Tersedia</label> <input
				type="number" name="jumlahStok" />
		</div>
		<div class="col-sm-10">
			<label class="col-sm-1" for="kondisi">Kondisi Produk</label> <input type="text"
				name="kondisi" />
		</div>

		<div class="col-sm-10">
			<button class="col-sm-1" type="submit" name="action" value="save">Save</button>
		</div>
	</form>

</body>

</html>

